name: octo_image
description: A multifunctional Flutter image widget. Supports placeholders, error widgets and image transformers with fading.
version: 2.0.0
homepage: https://github.com/Baseflow/octo_image

environment:
  sdk: '>=2.12.0 <3.0.0'
  flutter: '>=3.7.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.4
